/* * {
    border: solid pink 1px;
} */

.head {
    background-color: #1F2937;
    color: white; 
    /* background-color: grey; */
    padding: 30px 200px;
    margin: 0;
}
body {
    margin:0;
}

ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

a {
    text-decoration: none;
    /* color: black; */
    color: white;
}

.head-banner {
    display: flex;
    /* background-color: white; */
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 50px; 
}

.title {
    display: flex;
    flex: 1;
}

.head-list {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

a {
    padding: 5px;
    transition-duration: 0.5s;
}

a:hover {
    border-bottom: white solid 1px;
    border-right: white solid 1px;
}

.title {
    font-size: 24px; 
    font-weight: bold;
}

.head-content {
    display: flex;
    padding: 20px;
    gap: 50px;
}

.head-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0; 
}

.head-image {
    width: 2000px;
    /** you're gonna want to remove these after you find a picture **/
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px lightgray solid;
    
}

h3, p {
    /** this might break in the future add class to this **/ 
    margin: 0 0 10px 0;
    
}

button {
    background-color: #3882f6;
    color: white;
    /* border: 1px solid #3882f6; */
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    transition-duration: 0.2s;
    cursor: pointer;
    
}

button:hover {
    background-color: white;
    color: #3882f6;
    /* border: 1px solid #3882f6 */
}

.content {
    text-align: center;
}

.content-info {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.content-picture {
    border: solid lightblue 2px;
    width: 100px;
    height: 100px;
}

.column {
    max-width: 200px;

}

.content-header {
    font-size: 32px;
    font-weight: bold;
    margin: 50px 0 50px 0;
}


